<h1>Let's Create a Quiz</h1>

<%= form_for @quiz, :html => { :class => "well" } do |f| %>
	<div class="form-inline">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="form-inline">
		<%= f.label :description %>
		<%= f.text_field :description %>
	</div>
	<div class="form-inline">
		<%= f.label :grade_level %>
		<%= f.text_field :grade_level %>
  </div>
	<div class="form-inline">
		<%= f.label :questions %>
		<%= f.text_area :questions %>
	</div>
	<div class="form-inline">
		<%= f.label :correct_responses %>
		<%= f.text_area :correct_responses %>
	</div>
		<%= f.submit "Create this Quiz", :class => "btn btn-primary" %>
<% end %>